#Home-Page {
    position: relative;
    display: flex;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: radial-gradient(circle at 16% 83%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 50%, rgba(63, 63, 63, 0.06) 50%, rgba(63, 63, 63, 0.06) 100%), radial-gradient(circle at 68% 87%, rgba(66, 66, 66, 0.06) 0%, rgba(66, 66, 66, 0.06) 50%, rgba(105, 105, 105, 0.11) 50%, rgba(105, 105, 105, 0.11) 100%), radial-gradient(circle at 38% 50%, rgba(123, 123, 123, 0.06) 0%, rgba(123, 123, 123, 0.06) 50%, rgba(172, 172, 172, 0.12) 50%, rgba(172, 172, 172, 0.12) 100%), linear-gradient(90deg, hsl(18, 0%, 1%), hsl(18, 0%, 1%));
}

#Home-Page>main {
    display: flex;
    margin: auto;
    min-width: 90vw;
    padding: 20px 0;
    color: aliceblue;
    align-items: center;
    min-height: fit-content;
    justify-content: space-evenly;
}

#Home-Page>main>section {
    min-width: fit-content;
    min-height: fit-content;
}

#Home-Page>main>section>footer {
    display: flex;
    width: 100%;
    height: 40px;
    column-gap: 20px;
    align-items: center;
}

.Home-Icons-Btn>span {
    position: relative;
    display: grid;
    width: 86px;
    height: 38px;
    border-radius: 6px;
    background-color: transparent;
    border: 2.5px solid var(--Color1);
    box-shadow: 0 0 20px var(--Color1);
}

.Home-Icons-Btn>div {
    position: relative;
    display: flex;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    color: var(--Color3);
    background-color: var(--Color1);
    border: 2.5px solid var(--Color1);
    box-shadow: 0 0 20px var(--Color1);
}

.Home-Icons-Btn>span>a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: inherit;
}

.Home-Icons-Btn>div>a {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Home-Icons-Btn>div:hover {
    color: var(--Color1);
    transition: all 0.8s;
    background-color: transparent;
}

.Home-Icons-Btn>span:hover {
    color: var(--Color3);
    transition: all 0.8s;
    background-color: var(--Color1);
}

#Home-Page>main>figure {
    width: 210px;
    height: 280px;
    border-radius: 40% 38% 15% 85% / 57% 64% 46% 43%;
    box-shadow: 0 0 20px var(--Color1);
    background-color: rgba(0, 238, 255, 0.09);
    animation: Image-Blink-Animation 3s 0.95s linear infinite, Img-Blob-Animation 8s linear infinite;

    & img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }
}

.Name-Tag {
    overflow: hidden;
    white-space: nowrap;
    animation: Typing-Animation 3.2s linear infinite;
}

@keyframes Typing-Animation {
    0% {
        width: 10%;
    }

    100% {
        width: 100%;
    }
}

@keyframes Image-Blink-Animation {
    0% {
        transform: translateY(0px);
        box-shadow: 0 0 80px var(--Color1);
    }

    50% {
        transform: translateY(-12px);
        box-shadow: 0 0 20px var(--Color1);
    }

    100% {
        box-shadow: 0 0 80px var(--Color1);
    }
}

@keyframes Img-Blob-Animation{
    0%{
        border-radius: 40% 38% 15% 85% / 57% 64% 46% 43%;
    }
    25%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    50%{
        border-radius: 47% 53% 81% 19% / 57% 72% 28% 43%;
    }
    75%{
        border-radius: 75% 25% 43% 57% / 33% 40% 60% 67%;
    }
    100%{
        border-radius: 40% 38% 15% 85% / 57% 64% 46% 43%;
    }
}

@media (height<=400px) {
    #Home-Page {
        min-width: 100vw;
        min-height: 200vh;
    }
}

@media (width<=880px) {
    #Home-Page>main {
        flex-wrap: wrap-reverse;
    }
}

@media (width<=400px) {
    #Home-Page>main {
        align-items: start;
    }

    #Home-Page>main>figure {
        width: 180px;
        height: 240px;
    }
}

@media (height>=1000px) and (width>=800px) {
    #Home-Page {
        min-width: 100vw;
        min-height: 50vh;
    }
}