:root {
    --BarRadius: 50;
    --BarScale: 50px;
    --MenuBarSize: 450px;
    --CirCumference: 282.75;
    --Offset1: calc(var(--MenuBarSize) / 2 - var(--BarScale));
    --Offset2: calc(var(--Offset1) / 1.42);
}

.Skills-Page {
    position: relative;
    display: flex;
    width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle at 16% 83%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 50%, rgba(63, 63, 63, 0.06) 50%, rgba(63, 63, 63, 0.06) 100%), radial-gradient(circle at 68% 87%, rgba(66, 66, 66, 0.06) 0%, rgba(66, 66, 66, 0.06) 50%, rgba(105, 105, 105, 0.11) 50%, rgba(105, 105, 105, 0.11) 100%), radial-gradient(circle at 38% 50%, rgba(123, 123, 123, 0.06) 0%, rgba(123, 123, 123, 0.06) 50%, rgba(172, 172, 172, 0.12) 50%, rgba(172, 172, 172, 0.12) 100%), linear-gradient(90deg, hsl(18, 0%, 1%), hsl(18, 0%, 1%));
}

.Skills-Page h2 {
    position: relative;
    display: grid;
    width: 35vw;
    height: 60px;
    margin: 10px;
    place-items: center;
    border-radius: 12px;
    color: var(--Color3);
    background-color: var(--Color2);
    box-shadow: 0 0 20px var(--Color1);
}

.Skills-Page h2::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 8px;
    border-radius: 20px 20px 0 0;
    background-color: var(--Color3);
}

.Skills-Page h2::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    border-radius: 0 0 20px 20px;
    background-color: var(--Color3);
}

.Skills-Page main {
    position: relative;
    display: flex;
    width: 100vw;
    gap: 20px;
    padding: 20px;
    overflow-x: hidden;
    align-items: center;
    min-height: fit-content;
    justify-content: space-around;
}

.Skills-Page main::-webkit-scrollbar {
    display: none;
}

.Menu-Plus-Icon {
    position: absolute;
    display: flex;
    z-index: 99;
    font-size: 80px;
    cursor: pointer;
    border-radius: 50%;
    transform: rotate(-45deg);
    transition: transform 0.8s;
    background-color: aliceblue;
}


.Skills-Page>main>section,
.Outer-Menu-Container {
    position: relative;
    display: flex;
    width: 450px;
    height: 450px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.Inner-Menu-Container {
    display: flex;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    transform: rotate(-180deg);
    /* background-color: rgba(250, 235, 215, 0.105); */
}

.Menu-Plus-Icon.active {
    transform: rotate(0deg);
}

.Menu-Plus-Icon.active+.Inner-Menu-Container {
    transition: transform 1s;
    transform: rotate(-90deg);
}

.Svg-Container {
    position: absolute;
    display: flex;
    padding: 4px;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.Svg-Container>h6 {
    position: absolute;
    margin: auto;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 0 0 30px var(--Color1);
    transform: rotate(90deg) scaleX(0.8) scaleY(1.4);
}

.Svg-Container>svg>circle {
    fill: rgba(58, 58, 58, 0.78);
    stroke-linecap: round;
    stroke-dasharray: var(--CirCumference);
}

.Menu-Plus-Icon.active+.Inner-Menu-Container>.Svg-Container>svg>circle {
    stroke-linecap: round;
    stroke-dasharray: var(--CirCumference);
    animation: Progress-Animation 1.5s 1.5s ease-in-out;
}

.Menu-Plus-Icon.active+.Inner-Menu-Container>.Svg-Container:nth-child(1) {
    transform: translateX(var(--Offset1));
}

.Menu-Plus-Icon.active+.Inner-Menu-Container>.Svg-Container:nth-child(2) {
    transform: translateY(var(--Offset1));
}

.Menu-Plus-Icon.active+.Inner-Menu-Container>.Svg-Container:nth-child(3) {
    transform: translateX(calc(var(--Offset1) * -1));
}

.Menu-Plus-Icon.active+.Inner-Menu-Container>.Svg-Container:nth-child(4) {
    transform: translateY(calc(var(--Offset1) * -1));
}

.Menu-Plus-Icon.active+.Inner-Menu-Container>.Svg-Container:nth-child(5) {
    transform: translateX(var(--Offset2)) translateY(var(--Offset2));
}

.Menu-Plus-Icon.active+.Inner-Menu-Container>.Svg-Container:nth-child(6) {
    transform: translateX(var(--Offset2)) translateY(calc(var(--Offset2) * -1));
}

.Menu-Plus-Icon.active+.Inner-Menu-Container>.Svg-Container:nth-child(7) {
    transform: translateX(calc(var(--Offset2) * -1)) translateY(calc(var(--Offset2) * -1));
}

.Menu-Plus-Icon.active+.Inner-Menu-Container>.Svg-Container:nth-child(8) {
    transform: translateX(calc(var(--Offset2) * -1)) translateY(calc(var(--Offset2)));
}

@keyframes Progress-Animation {
    0% {
        stroke-dashoffset: var(--CirCumference);
    }
}

@media (height<=400px) {
    .Skills-Page {
        width: 100vw;
        min-height: 200vh;
    }
}

@media (width<=980px) {
    :root {
        --MenuBarSize: 500px;
    }

    .Skills-Page main {
        flex-direction: column;
    }

    .Skills-Page>main>section,
    .Outer-Menu-Container {
        width: 500px;
        height: 500px;
    }
}

@media (width<=500px) {
    :root {
        --MenuBarSize: 320px;
        --CirCumference: 220;
    }

    .Skills-Page h2 {
        width: 50vw;
    }

    .Skills-Page main {
        padding: 0;
    }

    .Skills-Page>main>section,
    .Outer-Menu-Container {
        width: 320px;
        height: 320px;
    }

    .Menu-Plus-Icon {
        font-size: 60px;
    }

    .Svg-Container>h6 {
        transform: rotate(90deg) scaleX(0.6) scaleY(1.2);
    }
}

@media (height>=1000px) and (width>=800px) {
    .Skills-Page {
        width: 100vw;
        min-height: 50vh;
    }
}